.content-wrapper{
    height: 80%;
    width: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content-wrapper h1{
    color: white;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}