.button-19-hidden{
    background: rgb(149,98,41);
    background: linear-gradient(90deg, rgba(149,98,41,1) 0%, rgba(198,172,104,1) 23%, rgba(228,203,129,1) 50%, rgba(198,172,104,1) 76%, rgba(149,98,41,1) 100%);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}